@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');

:root {
    --primaria: #2C3E50;
    --fundo: #ECF0F1;
    --destaque: #16A085;
    --texto: #34495E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--fundo);
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ul {
    display: flex; 
    align-items: center;
}

.ul li {
    margin-left: 35px;
}

.ul li a {
    color: var(--texto);
}

.btn-gradiente {
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    background-color: var(--destaque);
    color: white;
    border-radius: 4px;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1{
    font-size: 3.5rem;
    line-height: 1.1;
}

.h2{
    font-weight: lighter;
}