@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@700&display=swap");
:root {
    --primaria: #2c3e50;
    --fundo: #ecf0f1;
    --destaque: #16a085;
    --texto: #34495e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--fundo);
    font-family: "Inter", sans-serif;
    height: 100vh;
    
}

.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li {
    margin-left: 35px;
}

.ul li a {
    color: var(--texto);
    position: relative;
    padding-bottom: 4px;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.logo a {
    color: var(--texto);
    font-size: 2rem;
}

.logo a span {
    color: var(--destaque);
}

btn-login {
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    background-color: var(--destaque);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 10;
}

.btn-login:hover {
    background: var(--texto);
    transform: translateY(-1px);
}

.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* a conta do container - a header */
}

.card-login{
    background-color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: 420px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-titulo{
    font-size: 36px;
    color: var(--texto);
    
}

/* Precisa estilizar a TAG P */

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: var(--texto);
    background: var(--fundo);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: var(--texto);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
}

.login{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: var(--primaria);
    color: white;
    
}

.login:hover{
    background-color: var(--destaque);
    border: 2px solid;
    color: white;
    transition: 0.5s;
 }